<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<!-- <p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }} -->

		</div>

		<div class="flex-ns justify-between">

			<div>
				<span><a href="/" class="link">Home</a></span>
				<span><a href="/products" class="link">Our products</a></span>
				<span><a href="/values" class="link">About</a></span>
				<span><a href="/post" class="link">Blog</a></span>
				<span><a href="/contact" class="link">Contact</a></span>
			</div>

			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
