<nav class="overflow-x-scroll overflow-x-visible-ns flex flex-column items-center bg-white relative mb3 pt5">
	<!-- Logo -->
	<a href="/" class="pa3 pb0 db no-underline flex-none">
		a softer shade
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3">
		<li><a href="/illustration" class="pa2 no-underline db">Illustration</a></li>

		<li><a href="/animation" class="pa2 no-underline db">Animation</a></li>

		<li><a href="/about" class="pa2 no-underline db">About</a></li>

		<li><a href="/contact" class="pa2 no-underline db">Contact</a></li>
	</ul>
</nav>
